extends layout

block content
  nav.top-bar
    ul.title-area
      li.name
        h1
          a(href='#') Aletty Garage
      li.toggle-topbar.menu-icon
        a(href='#')

  .row
    .small-12.columns
      .button Open/Close Garage